
.c-blanco li a{
    color: white;
}

body{
    color: white;
    background-color: rgb(33, 37, 41);
}

.htmlActual{
    font-weight: bold;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.footer li a{
    color: white;
}

.footer li a:hover{
    color: #ec342e;
    transition: 100ms;
}

.nav-item a:hover{
    color: #ec342e;
    transition: 100ms;
}

.video{
    margin: 2vw 0 2vw 0;
    
}

/* .imgNoticia{
    width: 250px;
    height: 250px;
    object-fit: cover;
} */

.imgAlbum{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.carousel-item{
    
    object-fit: cover;

}

.video{
    margin: 1%;
}


.imgNota{
    width: 500px;
    height: 300px;
    object-fit: cover;
}

@media only screen and (min-width: 1024px){


    .imgNoticia{
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    .imgNota{
        width: 500px;
        height: 300px;
        object-fit: cover;
    }

    .imgAlbum{
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

}

@media only screen and (min-width: 400px){


    .imgNoticia{
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    .imgNota{
        width: 300px;
        height: 200px;
        object-fit: cover;
    }

    .imgAlbum{
        width: 150px;
        height: 150px;
        object-fit: cover;

    }

}
