
.c-blanco li a{
    color: white;
}

*{
    color: white;
    background-color: rgb(33, 37, 41);
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.footer li a{
    color: white;
}

.footer li a:hover{
    color: #ec342e;
    transition: 100ms;
}

.nav-item a:hover{
    color: #ec342e;
    transition: 100ms;
}

.video{
    margin: 2vw 0 2vw 0;
    
}

.imgNoticia{
    width: 500px;
    height: 400px;
    object-fit: cover;
}

.imgAlbum{
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.carousel-item{
    
    object-fit: cover;

}

.video{
    margin: 1%;
}


