*{
    margin: 0%;
    padding: 0%;
    font-family: 'Bebas Neue', cursive;
}




/*  MOBILE  *//*  MOBILE  *//*  MOBILE  *//*  MOBILE  *//*  MOBILE  *//*  MOBILE  *//*  MOBILE  */
/*  MOBILE  *//*  MOBILE  *//*  MOBILE  *//*  MOBILE  *//*  MOBILE  *//*  MOBILE  *//*  MOBILE  */
/*  MOBILE  *//*  MOBILE  *//*  MOBILE  *//*  MOBILE  *//*  MOBILE  *//*  MOBILE  *//*  MOBILE  */
/*  MOBILE  *//*  MOBILE  *//*  MOBILE  *//*  MOBILE  *//*  MOBILE  *//*  MOBILE  *//*  MOBILE  */
/*  MOBILE  *//*  MOBILE  *//*  MOBILE  *//*  MOBILE  *//*  MOBILE  *//*  MOBILE  *//*  MOBILE  */





@media only screen and (max-width: 780px) {
    *{
        font-size: 5vw;
        
    }
    
    a{
        text-decoration: none;
    }
    
    li{
        list-style: none;
    }
    
    .header li a{
        color: white;
    }
    
    .header li a:hover{
        color: rgb(140, 78, 255);
        transition: 250ms;
        font-size: 110%;
        
    
    }
    
    .footer li a:hover{
        color: rgb(140, 78, 255);
        transition: 250ms;
        font-size: 110%;
    }

    .footerFotos li a:hover{
        color: orangered;
        transition: 250ms;
        font-size: 110%;
    }

    .footerVideos li a:hover{
        color: orangered;
        transition: 250ms;
        font-size: 110%;
    }

    
    .footerContacto li a:hover{
        color: orangered;
        transition: 250ms;
        font-size: 110%;
    }

    .footer li a{
        color: white;
    }

    

    

    


    /* GRID */


    
    .gridContainerIndex{
        
        
        display: grid;
        /* border: solid 1px; */
        grid-template-columns: repeat(13, 7vw);
        grid-template-rows: repeat(21, 7vw);
        
    }




    .logoHeader{
        display: grid;
        grid-column: 1/14;
        

        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 1%;
    }
    
    
    .header{
        background-color: rgb(0, 216, 198);
        grid-area: 2/1/3/15;
    
        width: 100%;
        height: 100%;
    
    
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    
    
    .footer{
        background-color: rgb(0, 216, 198);
        grid-area: 20/1/21/15;
        
    
        
    
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    
    
    
    
    /*  INDEX  */
    
    
    
    .imgNoticias img{
        width: 40vw;
        height: 30vw;
        object-fit: cover;
        padding-top: 5%;
    }
    
    .noticiaUno{    
        margin: 3vw 0 0 3vw;
        grid-area: 3/1/9/8;      
    }
    
    .noticiaDos{
        margin: 3vw 0 0 3vw;
        grid-area: 3/8/9/14;
    }
    
    .noticiaTres{
        margin: 0 0 0 3vw;
        grid-area: 12/1/15/7;     
    }
    
    .noticiaCuatro{
        margin: 0 0 0 3vw;
        grid-area: 12/8/15/14;
    }  
    
    
    
    
    h2{
        font-size: 90%;
        color: black;
    }
    
    h3{
        font-size: 70%;
        color: black;
    }
    
       
    
    .underline{
        text-decoration: underline rgb(140, 78, 255);
    
    }
    


    /*  DISCOGRAFIA  */


    .gridContainerDiscografia{
        
        display: grid;
        /* border: solid 1px; */
        grid-template-columns: repeat(13, 1fr);
        grid-template-rows: repeat(2, 7vw) 3vw 7vw 3vw repeat(16, 7vw) 3vw 7vw 3vw repeat(16, 7vw);
    }


    .footerDiscografia li a {
        color: white;
    }

    .footerDiscografia li a:hover{
        color: orangered;
        transition: 250ms;
        font-size: 110%;
    }
    
    .footerDiscografia li a {
        color: white;
    }


    .footerDiscografia{
        background-color: rgb(0, 0, 0);
        grid-area: 39/1/40/15;
    
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    
    }


    .albumesTag{
        
        background-color: orangered;
        border-right: 2vw orangered solid;
        grid-area: 4/1/5/4;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
            
    }



    

    .tapaAlbum{
        width: 25vw;
        object-fit: cover;
    }

    .aLaPiedraTapa{
        grid-area: 6/2/9/10;
    }

    .aLaPiedra{
        grid-area: 6/5/8/9;
    }

    .anoAlaPiedra{
        grid-area: 7/5/8/8;
    }

    .aLaPiedraTemas{
        grid-area: 6/10/14/15;
    }



    .noExtraviarTapa{
        grid-area: 14/2/16/10;
    }

    .noExtraviar{
        grid-area: 14/5/16/9;
    }

    .anoNoExtraviar{
        grid-area: 15/5/16/10;

    }

    .noExtraviarTemas{
        grid-area: 14/10/19/15;
    }




    .singlesTag{
        
        background-color: orangered;
        border-right: 2vw orangered solid;
        grid-area: 23/1/24/5;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
            
    }



    .malditaCorazaTapa{
        grid-area: 25/2;
    }

    .malditaCoraza{
        grid-area: 25/5/27/9;
    }

    .anoMalditaCoraza{
        grid-area: 26/5/27/8;

    }


    .dejarLaSalTapa{
        grid-area: 30/2;
    }

    .dejarLaSal{
        grid-area: 30/5/32/10;
    }

    .anoDejarLaSal{
        grid-area: 31/5/32/8;

    }


    .masAllaTapa{
        grid-area: 35/2;
    }

    .masAlla{
        grid-area: 35/5/37/10;
    }

    .anoMasAlla{
        grid-area: 36/5/37/8;

    }




    /*   FOTOS   */



    .gridContainerFotos{   
        display: grid;
        /* border: solid 1px; */
        grid-template-columns: repeat(13, 7vw);
        grid-template-rows: 7vw 7vw 4vw 7vw 4vw repeat(6, 7vw) 4vw repeat(8, 7vw);
        
    }
    

    .showsTag{
        
        background-color: orangered;
        border-right: 2vw orangered solid;
        grid-area: 4/1/5/4;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;            
    }

    .galeria img{
        width: 20vw;
        height: 20vw;
        object-fit: cover;
        margin: 1%;
    }

    .galeria{
        grid-area: 6 / 2 / 10 / 14;
        overflow-x: scroll;
        display: flex;
        flex-direction: wrap;
        justify-content: space-evenly;
        align-items: center;
        
    }
    
    .galeria::-webkit-scrollbar {
        width: 12px;               
    }
      
    .galeria::-webkit-scrollbar-track{
        background: rgb(255, 255, 255);        
    }
      
    .galeria::-webkit-scrollbar-thumb {
        background-color: orangered;    
        border-radius: 20px;       

    }
    .peekAbooTag{
        
        background-color: orangered;
        border-right: 2vw orangered solid;
        grid-area: 11 / 1 / 12 / 5;

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;            
    }


    .peekAboo img{
        width: 60vw;
        height: 40vw;
        object-fit: contain;
    }

    .peekAboo{
        border: black solid;
        grid-area: 13 / 2 / 18 / 14;
        background-repeat: no-repeat;
        background-size: cover;
        animation-timing-function: step-start;
        animation-name: fotosPeakAboo ;
        animation-iteration-count: infinite;
        animation-timing-function: step-start;
        animation-duration: 5s;
        animation-delay: 0s;

    }


    @keyframes fotosPeakAboo {
        0%{
            background-image: url(./imagenes/unAsado.jpg);
        }
        25%{
            background-image: url(./imagenes/IMG_4879.jpg);
        }
        50%{
            background-image: url(./imagenes/risas.jpg);
        }
        75%{
            
            background-image: url(./imagenes/davoGuinio.jpg);
        }
        100%{
            transform-origin: center;
            background-image: url(./imagenes/pedroPlam.jpg);
        }
        
    }


    .footerFotos{
        background-color: rgb(0, 0, 0);
        grid-area: 19 / 1 / 20 / 15;
    
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;    
    }

    .footerFotos li a{
        color: white;
    }






    /*  VIDEOS   *//*  VIDEOS   *//*  VIDEOS   *//*  VIDEOS   *//*  VIDEOS   */






    .gridContainerVideos{
        display: grid;
        /* border: solid 1px; */
        grid-template-columns: repeat(13, 1fr);
        grid-template-rows: repeat(2, 7vw) 3vw 7vw 3vw repeat(16, 7vw)

    }


    .vivosTag{
        grid-area: 4 / 1 / 5 / 4;
        background-color: orangered ;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        border: orangered 2vw solid;
    }

    .videosVivosCarrousel{
        grid-area: 6/2/10/13;

        overflow-x: scroll;
        display: flex;
        flex-direction: wrap;        
        align-items: center;
    }

    .videosVivosCarrousel iframe{
        margin: 1vw;
        width: 32vw;
        height: 18vw;
        object-fit: cover;
        
    }


    .videosVivosCarrousel::-webkit-scrollbar {
        width: 12px;   
        height: 2vw;;               
    }
      
    .videosVivosCarrousel::-webkit-scrollbar-track{
        background: rgb(255, 255, 255);       
    }
      
    .videosVivosCarrousel::-webkit-scrollbar-thumb {
        background-color: orangered;    
        border-radius: 20px;      
    }




    .videosEstudioCarrousel{
        grid-area: 14/2/18/13;

        overflow-x: scroll;
        display: flex;
        flex-direction: wrap;        
        align-items: center;
    }

    .videosEstudioCarrousel iframe{
        margin: 1vw;
        width: 32vw;
        height: 18vw;
        object-fit: cover;
        
    }


    .videosEstudioCarrousel::-webkit-scrollbar {
        width: 12px;   
        height: 2vw;        
    }
      
    .videosEstudioCarrousel::-webkit-scrollbar-track{
        background: rgb(255, 255, 255);     
    }
      
    .videosEstudioCarrousel::-webkit-scrollbar-thumb {
        background-color: orangered;    
        border-radius: 20px;       
    }


    .estudioTag{
        grid-area: 12 / 1 / 13 / 4;
        background-color: orangered ;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        border: orangered 2vw solid;
    }
    
    
    .footerVideos{
        background-color: rgb(0, 0, 0);
        
        grid-area: 19/1/20/14;              
    
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .footerVideos li a{
        color: white;
    }

    .footerVideos li a:hover{
        color: orangered;
        transition: 250ms;
        font-size: 110%;
    }






    /*   HISTORIAS  *//*   HISTORIAS  *//*   HISTORIAS  *//*   HISTORIAS  *//*   HISTORIAS  */


    .gridContainerHistorias{
        display: grid;
        /* border: solid 1px; */
        grid-template-columns: repeat(13, 1fr);
        grid-template-rows: repeat(2, 7vw) 3vw 7vw 7vw repeat(9, 7vw) 5VW repeat(7, 7vw)

    }
    

    .presentacionTag{
        grid-area: 4 / 1 / 5 / 6;
        background-color: orangered ;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        border: orangered 2vw solid;
        
    }


    .presentacion{
        grid-area: 6/3/20/12;
    }

    .quienSosTag{
        grid-area: 14 / 1 / 15 / 5;
        background-color: orangered ;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        border: orangered 2vw solid;
        
    }


    .quienSos{
        grid-area: 16/3/19/12;
    }

    
    .footerHistorias{
        background-color: rgb(0, 0, 0);
        
        grid-area: 20/1/21/14;              
    
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .footerHistorias li a{
        color: white;
    }

    .footerHistorias li a:hover{
        color: orangered;
        transition: 250ms;
        font-size: 110%;
    }
    
    



    /*  CONTACTO  *//*  CONTACTO  *//*  CONTACTO  *//*  CONTACTO  *//*  CONTACTO  *//*  CONTACTO  *//*  CONTACTO  */
    


    .gridContainerContacto{
        display: grid;
        /* border: solid 1px; */
        grid-template-columns: repeat(13, 1fr);
        grid-template-rows: repeat(2, 7vw) 3vw 7vw 7vw repeat(9, 7vw) 5VW repeat(7, 7vw)

    }
        
    .formularioTag{
        background-color: orangered ;
        grid-area: 4/1/5/4;
        display: flex;
        flex-direction: row-reverse;
        border-right: orangered 1vw solid;
        
    }

    .formularioContacto{
        grid-area: 5/2/20/13;     

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;       

    }


    .footerContacto{
        background-color: rgb(0, 0, 0);
        
        grid-area: 21/1/22/14;              
    
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .footerContacto li a{
        color: white;
    }

    .footerContacto li a:hover{
        color: orangered;
        transition: 250ms;
        font-size: 110%;
    }

}











/*  DESKTOP  *//*  DESKTOP  *//*  DESKTOP  *//*  DESKTOP  *//*  DESKTOP  *//*  DESKTOP  */
/*  DESKTOP  *//*  DESKTOP  *//*  DESKTOP  *//*  DESKTOP  *//*  DESKTOP  *//*  DESKTOP  */
/*  DESKTOP  *//*  DESKTOP  *//*  DESKTOP  *//*  DESKTOP  *//*  DESKTOP  *//*  DESKTOP  */
/*  DESKTOP  *//*  DESKTOP  *//*  DESKTOP  *//*  DESKTOP  *//*  DESKTOP  *//*  DESKTOP  */
/*  DESKTOP  *//*  DESKTOP  *//*  DESKTOP  *//*  DESKTOP  *//*  DESKTOP  *//*  DESKTOP  */



@media only screen and (min-width: 780px) {
    *{
        font-size: 3.5vw;
               
    }


    
    a{
        text-decoration: none;
    }
    
    li{
        list-style: none;
    }
    
    .header li a{
        color: white;
    }
    
    .header li a:hover{
        color: orangered;
        transition: 250ms;
        font-size: 110%;     
    }

    .footer li a{
        text-decoration: none;
        color: white;
    }
    
    .footer li a:hover{
        color: orangered;
        transition: 250ms;
        font-size: 110%;
    }
    


    .logoHeader{
        display: grid;
        grid-column: 1/14;

        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 1%;
    }

    


    /* GRID */


    
    .gridContainerIndex{
        
        
        display: grid;
        /* border: solid 1px; */
        grid-template-columns: repeat(13, 7vw);
        grid-template-rows:5vw 5vw 3vw 5vw 3vw repeat(6, 5vw) 3vw repeat(9, 5vw);
                
    }
    
    
    .header{
        background-color: rgb(0, 0, 0);
        
        grid-area: 2/1/3/15;
    
        width: 100%;
        height: 100%;
    
    
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    
    
    .footer{
        background-color: rgb(0, 0, 0); 
        
        grid-area: 20/1/21/15;
    
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    
    



    
    
    /*  INDEX  *//*  INDEX  *//*  INDEX  *//*  INDEX  *//*  INDEX  */
    



    
    .imgNoticias img{
        width: 30vw;
        height: 18vw;
        object-fit: cover;
        padding-top: 5%;
    }
    
    .noticiaUno{        
        grid-area: 4/2/9/7;       
    }
    
    .noticiaDos{
        grid-area: 4/8/9/13;
    }
    
    .noticiaTres{
        grid-area: 12/2/18/7;        
    
    }
    
    .noticiaCuatro{
        grid-area: 12/8/18/13;
    }  
    
    
    
    
    h2{
        font-size: 90%;
        color: black;
    }
    
    h3{
        font-size: 70%;
        color: black;
    }
    
       
    
    .underline{
        text-decoration: underline orangered;
    
    }
    




    /*  DISCOGRAFIA  *//*  DISCOGRAFIA  *//*  DISCOGRAFIA  *//*  DISCOGRAFIA  */




    .gridContainerDiscografia{
        
        display: grid;
        /* border: solid 1px; */
        grid-template-columns: repeat(13, 7vw);
        grid-template-rows: repeat(2, 5vw) 2vw 5vw 2vw repeat(17, 5vw) 2vw 5vw 2vw repeat(20, 5vw);
    }


    .footerDiscografia li a {
        color: white;
    }

    .footerDiscografia li a:hover{
        color: orangered;
        transition: 250ms;
        font-size: 110%;
    }
    
    


    .footerDiscografia{
        background-color: rgb(0, 0, 0);
        grid-area: 44/1/45/15;
    
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    
    }


    .albumesTag{
        
        background-color: orangered;
        border-right: 2vw orangered solid;
        grid-area: 4/1/5/4;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
            
    }



    

    .tapaAlbum{
        width: 25vw;
        object-fit: cover;
    }

    .aLaPiedraTapa{
        grid-column: 2/5;
        grid-row: 6/9;
        grid-area: 6/2/9/5;
    }

    .aLaPiedra{
        grid-area: 6/6/8/9;
    }

    .anoAlaPiedra{
        grid-area: 7/6/8/8;
    }

    .aLaPiedraTemas{
        grid-area: 6/9/14/15;
    }



    .noExtraviarTapa{
        grid-area: 14/2/16/5;
    }

    .noExtraviar{
        grid-area: 14/6/16/9;
    }

    .anoNoExtraviar{
        grid-area: 15/6/16/8;

    }

    .noExtraviarTemas{
        grid-area: 14/9/19/15;
    }




    .singlesTag{
        
        background-color: orangered;
        border-right: 2vw orangered solid;
        grid-area: 24/1/25/5;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
            
    }



    .malditaCorazaTapa{
        grid-area: 26/2;
    }

    .malditaCoraza{
        grid-area: 26/6/27/10;
    }

    .anoMalditaCoraza{
        grid-area: 27/6/28/8;

    }


    .dejarLaSalTapa{
        grid-area: 32/2;
    }

    .dejarLaSal{
        grid-area: 32/6/33/8;
    }

    .anoDejarLaSal{
        grid-area: 33/6/34/8;

    }


    .masAllaTapa{
        grid-area: 38/2;
    }

    .masAlla{
        grid-area: 38/6/39/8;
    }

    .anoMasAlla{
        grid-area: 39/6/40/8;

    }






    /*   FOTOS   *//*   FOTOS   *//*   FOTOS   *//*   FOTOS   *//*   FOTOS   */

    




    .gridContainerFotos{   
        display: grid;
        /* border: solid 1px; */
        grid-template-columns: repeat(13, 7vw);
        grid-template-rows:5vw 5vw 3vw 5vw 3vw repeat(6, 5vw) 3vw repeat(10, 5vw);




        
        
    }
    

    .showsTag{
        
        background-color: orangered;
        border-right: 2vw orangered solid;
        grid-area: 4/1/5/4;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;            
    }

    .galeria img{
        width: 20vw;
        height: 15vw;
        object-fit: cover;
        margin: 0.5vw
    }

    .galeria{
        grid-area: 6 / 2 / 10 / 14;
        overflow-x: scroll;
        display: flex;
        flex-direction: wrap;        
        align-items: center;
        
    }
    
    .galeria::-webkit-scrollbar {
        width: 12px;               /* width of the entire scrollbar */
    }
      
    .galeria::-webkit-scrollbar-track{
        background: rgb(255, 255, 255);        /* color of the tracking area */
    }
      
    .galeria::-webkit-scrollbar-thumb {
        background-color: orangered;    /* color of the scroll thumb */
        border-radius: 20px;       /* roundness of the scroll thumb */
    }


    .peekAbooTag{
        
        background-color: orangered;
        border-right: 2vw orangered solid;
        grid-area: 11 / 1 / 12 / 5;

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;            
    }


    .peekAboo img{
        width: 60vw;
        height: 40vw;
        object-fit: contain;
    }

    .peekAboo{
        
        grid-area: 13 / 2 / 20 / 14;
        background-repeat: no-repeat;
        background-size: cover;
        /* animation-timing-function:step-start; */
        animation-name: fotosPeakAboo ;
        animation-iteration-count: infinite;
        animation-duration: 5s;
        animation-delay: 0s;
        transition: 250ms;

    } 


    
    @keyframes fotosPeakAboo {
        0%{
            background-image: url(./imagenes/unAsado.jpg);
        }
        25%{
            background-image: url(./imagenes/IMG_4879.jpg);
        }
        50%{
            background-image: url(./imagenes/risas.jpg);
        }
        75%{
            
            background-image: url(./imagenes/davoGuinio.jpg);
        }
        100%{
            transform-origin: center;
            background-image: url(./imagenes/pedroPlam.jpg);
        }
        
    }


    .footerFotos{
        background-color: rgb(0, 0, 0);
        grid-area: 21 / 1 / 22 /15;
    
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    
    }
    

    .footerFotos li a{
        color: white;
    }

    .footerFotos li a:hover{
        color: orangered;
        transition: 250ms;
        font-size: 110%;
    }
    





    /*   VIDEOS   *//*   VIDEOS   *//*   VIDEOS   *//*   VIDEOS   */





    .gridContainerVideos{
        display: grid;
        /* border: solid 1px; */
        grid-template-columns: repeat(13, 7vw);
        grid-template-rows: repeat(2, 5vw) 2vw 5vw 2vw repeat(16, 5vw)

    }


    .vivosTag{
        grid-area: 4 / 1 / 5 / 4;
        background-color: orangered ;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        border: orangered 2vw solid;
    }

    .videosVivosCarrousel{
        grid-area: 6/2/11/13;

        overflow-x: scroll;
        display: flex;
        flex-direction: wrap;        
        align-items: center;
    }

    .videosVivosCarrousel iframe{
        margin: 1vw;
        width: 32vw;
        height: 18vw;
        object-fit: cover;
        
    }


    .videosVivosCarrousel::-webkit-scrollbar {
        width: 12px;               /* width of the entire scrollbar */
    }
      
    .videosVivosCarrousel::-webkit-scrollbar-track{
        background: rgb(255, 255, 255);        /* color of the tracking area */
    }
      
    .videosVivosCarrousel::-webkit-scrollbar-thumb {
        background-color: orangered;    /* color of the scroll thumb */
        border-radius: 20px;       /* roundness of the scroll thumb */
    }







    .videosEstudioCarrousel{
        grid-area: 11/2/21/13;

        overflow-x: scroll;
        display: flex;
        flex-direction: wrap;        
        align-items: center;
    }

    .videosEstudioCarrousel iframe{
        margin: 1vw;
        width: 32vw;
        height: 18vw;
        object-fit: cover;
        
    }


    .videosEstudioCarrousel::-webkit-scrollbar {
        width: 12px;               /* width of the entire scrollbar */
    }
      
    .videosEstudioCarrousel::-webkit-scrollbar-track{
        background: rgb(255, 255, 255);        /* color of the tracking area */
    }
      
    .videosEstudioCarrousel::-webkit-scrollbar-thumb {
        background-color: orangered;    /* color of the scroll thumb */
        border-radius: 20px;       /* roundness of the scroll thumb */
    }


    .estudioTag{
        grid-area: 12 / 1 / 13 / 4;
        background-color: orangered ;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        border: orangered 2vw solid;
    }
    

    
    .footerVideos{
        background-color: rgb(0, 0, 0);
        grid-column: 1/15;
        grid-row: 20/21;              
    
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .footerVideos li a{
        color: white;
    }

    .footerVideos li a:hover{
        color: orangered;
        transition: 250ms;
        font-size: 110%;
    }



    /*   HISTORIA  *//*   HISTORIA  *//*   HISTORIA  *//*   HISTORIA  *//*   HISTORIA  */


    .gridContainerHistorias{
        display: grid;
        /* border: solid 1px; */
        grid-template-columns: repeat(13, 7vw);
        grid-template-rows: repeat(2, 5vw) 2vw 5vw 2vw repeat(11, 5vw) 2vw repeat(8, 5vw)

    }
    

    .presentacionTag{
        grid-area: 4 / 1 / 5 / 5;
        background-color: orangered ;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        border: orangered 2vw solid;
        
        
    }


    .presentacion{
        grid-area: 6/2/20/13;
        font-size: 150%;
    }





   
    .quienSosTag{
        grid-area: 16 / 1 / 17 /4;
        background-color: orangered ;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        border: orangered 2vw solid;
        
        
    }


    .quienSos{
        grid-area: 18/2/20/13;
        font-size: 150%;
    }

    
    
    .footerHistorias{
        background-color: rgb(0, 0, 0);
        
        grid-area: 24/1/25/14;              
    
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .footerHistorias li a{
        color: white;
    }

    .footerHistorias li a:hover{
        color: orangered;
        transition: 250ms;
        font-size: 110%;
    }
    




    /*  CONTACTO  *//*  CONTACTO  *//*  CONTACTO  *//*  CONTACTO  *//*  CONTACTO  *//*  CONTACTO  *//*  CONTACTO  */
    


    .gridContainerContacto{
        display: grid;
        /* border: solid 1px; */
        grid-template-columns: repeat(13, 7vw);
        grid-template-rows: repeat(2, 5vw) 2vw 5vw repeat(11, 5vw) repeat(7, 5vw)

    }

    .formularioTag{
        background-color: orangered ;
        grid-area: 4/1/5/4;
        display: flex;
        flex-direction: row-reverse;
        border-right: orangered 1vw solid;
        
    }

    .formularioContacto{
        grid-area: 6/2/20/10;

        align-items: center; 
        display: flex;    
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;

        

        /* display: flex;
        flex-direction: column;
        justify-content: space-evenly; */       

    }


    .footerContacto{
        background-color: rgb(0, 0, 0);
        
        grid-area: 21/1/22/15;              
    
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .footerContacto li a{
        color: white;
    }

    .footerContacto li a:hover{
        color: orangered;
        transition: 250ms;
        font-size: 110%;
    }


}




    
    
    

    
    