body{
    color: map-get($colores , texto );
    background-color: map-get($colores , bg);
}

.c-blanco li a{
    color:map-get($colores , texto );
}
.htmlActual{
    font-weight: bold;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
}



.footer{
    &Flex{
        @extend %footerFlex;
    }
    li a{
        color:map-get($colores , texto );
        &:hover{
            color:map-get($colores , secundario );
            transition: 100ms;
        }
    }    
}

.nav-item a{
    &:hover{
        color:map-get($colores , secundario );
        transition: 100ms;
    }
}